<template name="perfil">
  <div class="col-md-9"> <!--Perfil investigador-->
    <br> <center>
    <img src="https://scholar.google.cl/citations?view_op=view_photo&user={{#each scraper}}{{ id_usuario }}{{/each}}" class="img-circle imagen_perfil" alt="Cinque Terre">
    </center>

    <div class="thumbnail">
      <div class="caption-full">
        <div class="row">
          <div class="col-md-11 col-xs-9 col-lg-10">
            <h4><a>{{#each scraper}}{{autor}}{{/each}}</a></h4>
          </div>
          <div class="col-md-1 col-xs-3 col-lg-2">
            <p> <a target="_blank" href="https://scholar.google.cl/citations?user={{#each scraper}}{{ id_usuario }}{{/each}}&hl=es">Perfil GS</a> </p>
          </div>
        </div>
      </div>
        <!--<p>ID Investigador: {{ id_investigador }}</p>-->
      <!--<p>ID Investigador: {{#each scraper}}{{ id_usuario }}{{/each}}</p>-->
      <p>Institución: {{#each scraper}}{{ institucion }}{{/each}}</p>
      <p>Campos de investigación:
          <a>
              {{#each scraper}}{{ campos }}{{/each}}
          </a>
      </p>

      </div>
    </div>
</template>
