<template name="layout">
  <div id="main">
    {{> header}}
    <div style="width:200px;float:right;z-index: -1;position:relative;">
    </div>
    <div id="content">
      {{> yield}}
    </div>
    <div id="footer">
        <div class="container">
          <center>
            <h5 style="margin-top:-5px;">Desarrollado por <strong><a href="https://twitter.com/CarloAlbert92" target="_blank" style="color:#43D5B1"> @CarloAlbert92 </a></strong>, utilizando Meteor, Bootstrap, NodeJS, Javascript, Jquery y MongoDB | 2017</h5>
        </center>
        </div>
    </div>
  </div>
</template>
