<template name="buscador_GS">
  <h2 align="center" class="fuente_buscador">Seleccione Modo de Búsqueda</h2>
  <form>
    <div class="radio" align="center">
      <label for="showname" ><input type="radio" name="optradio" value="showname" id="showname" checked="checked">Buscar por Nombre de Autor GS</label>
      <label for="showurl" ><input type="radio" name="optradio" value="showurl" id="showurl" >Buscar por URL de Autor GS</label>
    </div>
  </form>
  <br>
  {{#if showURL}}
    <form class="main form page new_search">
      <input name="id_investigador" size="1200" id="id_investigador url" type="text" value="" placeholder="https://scholar.google.cl/citations?user= ID AUTOR" class="form-control"/>
    </form>
  {{else}}
  <form class="main form page">
    {{> inputAutocomplete size="1200" name="id_investigador" settings=settings id="id_investigador" class="input-xlarge form-control" placeholder="Nombre del Investigador"}}
  </form>
  {{/if}}
</template>

<template name="userPill">
  <span>{{name}}</span>
  <span> - </span>
  <span class="label label-warning">{{id_author_gscholar}}</span>
</template>
