<template name="buscador">
  {{#if currentUser}}
    <div class="container centrar">
      <div class="row">
        <div class="col-md-12" id="sidebar"> <!--Sidebar (Vertical)-->
          <div class="input-group buscador">
            {{> buscador_GS}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> accessDenied}}
  {{/if}}
</template>
