/* CSS declarations go here */
html, body {
  margin:0;
	padding:0;
  height: 100%;
}

p {
  text-align: justify;
}

#main {
  min-height:100%;
  position: relative;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

#footer {
  background-color: #2E3039;
	padding: 25px;
	color: rgba(255,255,255,1.00);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#navcontainer ul li { display: inline; margin-left: 50px;}

div.scroll {
    height: 500px;
    overflow: scroll;
}

div.scroll_2 {
    height: 400px;
    overflow: scroll;
}


.con_colaboradores {
  height:500px;
}

.texto_centrado {
  text-align: center;
}


#spinner {
  height: 300px; }

.centrar {
  padding: 150px;
}

.fuente_buscador {
  font-family: Arial, Helvetica, sans-serif;
  color: #9d9da0;
}

.navbar {
  background-color: #2E3039;
  color: rgba(255,255,255,1.00);
}

.exportar {
  background-color:#43D5B1;
  color: white;
}

.label_buscador {
  background-color:#43D5B1;
}


.buscador {
  margin: 40px 0;
}

.espacio_footer {
  margin: 60px;
}

.imagen_perfil{
  margin: 50px 0;
  width: 200px;
  height: 200px;

}
    #main-menu {
      background-color: #2E3039;
  }

  .list-group-item {
      background-color: #2E3039;
      border: none;
  }

  a.list-group-item {
      color: #FFF;
  }

  a.list-group-item:hover,
  a.list-group-item:focus {
      background-color: #43D5B1;
  }

  a.list-group-item.active,
  a.list-group-item.active:hover,
  a.list-group-item.active:focus {
      color: #FFF;
      background-color: #43D5B1;
      border: none;
  }

  .list-group-item:first-child,
  .list-group-item:last-child {
      border-radius: 0;
  }

  .list-group-level1 .list-group-item {
      padding-left:30px;
  }

  .list-group-level2 .list-group-item {
      padding-left:60px;
  }
