<template name="barras">
  <div id="barras">
    <div class="container">
      <div class="row"> <!--Barras-->
      <br><br><br>
        <div class="col-md-6">
          <h3>Citas por año</h3>
          <div id="viz2" style="height:400px;"></div>
        </div>
        <div class="col-md-6">
          <h3>Publicaciones por año</h3>
          <div id="viz2-1" style="height:400px;"></div>
        </div>
    </div>
      <div class="row"> <!--Barras-->
      {{> colaboradores}}
      </div>
    </div>
  </div>
  <script type="text/javascript">

  var data = [
    {{#each scrape in scraper}}
      {{#each barra1 in scrape.publicaciones}}
        {"año": "{{barra1.año}}", "name": "Citas por Año", "citaciones": {{barra1.citas}}},
      {{/each}}
    {{/each}}
  ]

  var visualization = d3plus.viz()
    .container("#viz2")
    .data(data)
    .type("bar")
    .id("name")
    .x("año")
    .y("citaciones")
    .draw()

  //******************************************************************************************

  var data2 = [
    {{#each scrape in scraper}}
      {{#each barra2 in scrape.publicaciones}}
        {"año": "{{barra2.año}}", "name": "Publicaciones por Año", "publicaciones": 1},
      {{/each}}
    {{/each}}
  ]


  var visualization = d3plus.viz()
    .container("#viz2-1")
    .data(data2)
    .type("bar")
    .id("name")
    .x("año")
    .y("publicaciones")
    .draw()

</script>
</template>
