<template name="colaboradores">
  <div id="colaboradores" class="espacio_footer">
    <br><center>
      <div class="row"> <!--Red de Colaboradores-->
        <div class="col-md-12">
          <h3>Lista de Colaboradores</h3>
          <div class="scroll">
          <div class="list-group">
            <div class="scraper">
                {{#each colab in colaboradores}}
                  {{#if colab.coautores}}
                    {{#each coautor in colab.coautores}}
                      <a href="/results/{{ coautor.id_coautor }}" name="title" class="list-group-item coautor_path" id="{{coautor.id_coautor}}">{{ coautor.coautor_name }}</a> <br>
                    {{/each}}
                  {{else}}
                    <div class="alert alert-dismissible alert-danger">
                      Este Autor no posee Colaboradores Registrados.
                    </div>
                  {{/if}}
                {{/each}}
            </div>
          </div>
        </div>
      </div>
      </div>
      </center>
  </div>
</template>
