<template name="tree">
  <div class="container">
    <div class="radio"> <!--Inputs-->
      <div class="row">
        <div class="col-md-2 col-md-offset-10 col-xs-2 col-xs-offset-4">
          <button type="button" class="btn exportar"><i class="fa fa-download" aria-hidden="true"></i> Exportar a CSV </button>
        </div><br>
        <div class="col-md-6 col-xs-12">
          <h3>Publicaciones</h3><br>
          <form>
            <div class="radio">
              <label class="radio-inline" ><input type="radio" name="optradio" value="showpub" checked="checked">Título</label>
              <label class="radio-inline" ><input type="radio" name="optradio" value="showrev">Revista</label>
              <label class="radio-inline" ><input type="radio" name="optradio" value="showlist" >Lista de Publicaciones</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div><br>
  <div id="tree">
    <div class="container">
      <center>
        <h5>
          Número total de citaciones:
            {{#each scrape in scraper}}
              {{ scrape.citas_totales }}
            {{/each}}
        </h5>
        <h5>
        </h5>
      </center>
      {{#if showList}}
      <div class="row">  <!--Tree Map-->
        <br><br><br>
        <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="scroll_2">
          <div id="viz-2">
            <table class="table">
              <thead style="background-color:#43D5B1;">
                <tr style="color:white;">
                  <th>Título</th>
                  <th>Citas</th>
                  <th>Año</th>
                </tr>
              </thead>
              <tbody>
                {{#each scrape in scraper}}
                  {{#each tree in scrape.publicaciones}}
                    <tr>
                      <td><i>{{tree.titulo_pub}}</i></td>
                      <td>{{tree.citas}}</td>
                      <td>{{tree.año}}</td>
                    </tr>
                  {{/each}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      {{else}}
          {{#if showRev}}
          <div class="row">  <!--Tree Map-->
            <br><br><br>
            <div class="col-md-12 col-lg-12 col-xs-12">
              <div id="viz-2" style="height:400px;"></div>
            </div>
          </div>
          <script type="text/javascript">
          // REVISTAS
            var sample_data = [
              {{#each scrape in scraper}}
                {{#each tree in scrape.publicaciones}}
                  {"value": {{tree.citas}}, "autores": "{{tree.authors}}", "info": "{{tree.titulo_pub}}", "group": "{{tree.info}}"},
                {{/each}}
              {{/each}}
             ]
             var visualization = d3plus.viz()
               .container("#viz-2")
               .data(sample_data)
               .type("tree_map")
               .id(["group", "info", "autores"])
               .size("value")
               .draw()
          </script>
          {{else}}
          <div class="row">  <!--Tree Map-->
            <br><br><br>
            <div class="col-md-12 col-lg-12 col-xs-12">
              <div id="viz" style="height:400px;"></div>
            </div>
          </div>
          <script type="text/javascript">
          // PUBLICACIONES
            var sample_data = [
              {{#each scrape in scraper}}
                {{#each tree in scrape.publicaciones}}
                  {"value": {{tree.citas}}, "autores": "{{tree.authors}}", "info": "{{tree.info}}", "group": "{{tree.titulo_pub}}"},
                {{/each}}
              {{/each}}
             ]
             var visualization = d3plus.viz()
               .container("#viz")
               .data(sample_data)
               .type("tree_map")
               .id(["group", "info", "autores"])
               .size("value")
               .draw()
          </script>
          {{/if}}
      {{/if}}
    </div>
  </div>
</template>
