<template name="about"><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-7 col-xs-12">
                    <center><h3>¿Qué es PerfilesGS?</h3></center><br>
                  </div>
                  <div class="col-md-5 col-xs-12">
                    <center><img src="/images/logo.png" width="120" height="60"></center>
                  </div>
                  <div style="margin-top:40px;">
                  <br><br><p style="font-size:13px;">
                    PerfilesGS es una aplicación web cuyo propósito es otorgar información académica de los usuarios de
                    Google Scholar a través de perfiles de investigadores. Estos perfiles contienen información básica de cada investigador, como por ejemplo:
                    antecedentes académicos, información de sus publicaciones y el impacto que éstas tengan dentro de la comunidad científica, como también
                    las relaciones entre los distintos coautores implicados a cada una de estas publicaciones.
                  </p>
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <h3>¿De Dónde se rescatan los Datos?</h3><br>
                <p style="font-size:13px">
                  Toda la información expuesta en PerfilesGS se obtiene en tiempo real y de manera automatizada desde las siguientes web:
                </p>
                <ul>
                  <li style="color:#43D5B1;">
                    Google Scholar - Perfiles de Usuarios
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <h3 style="margin-left:15px;">¿Quién Soy?</h3><br>

                  <div class="col-md-5">
                    <center><img class="img-circle" style="width: 150px; height: 150px;" src="/images/avatar.png"></center>
                  </div>
                  <div class="col-md-7">
                    <p style="font-size:18px;">Carlo Alberto Echeverría Fuentes</p>
                    <strong><a href="https://twitter.com/CarloAlbert92" target="_blank" style="font-size:18px; color:#43D5B1">@CarloAlbert92</a></strong>
                    <p style="font-size:13px">Ingeniero Informático de la Universidad de Playa Ancha de Valparaíso. Soy desarrollador de aplicaciones web.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <h3 style="margin-left:15px;">Contacto</h3><br>
                <center><p style="font-size:13px">
                  <ul class="icons">
                    <a href="https://beriliox.gitlab.io/resume/" target="_blank" class="icon alt fa fa-user-circle fa-4x"></a>
                    <a href="https://www.facebook.com/beriliox" target="_blank"  class="icon alt fa fa-facebook fa-4x"></a>
                    <a href="https://github.com/beriliox" target="_blank" class="icon alt fa fa-github fa-4x"></a>
                    <a href="https://gitlab.com/beriliox" target="_blank"  class="icon alt fa fa-gitlab fa-4x"></a>
                    <a href="http://stackoverflow.com/users/5986925/beriliox?tab=profile" target="_blank" class="icon alt fa fa-stack-overflow fa-4x"></a>
                  </ul>
                </p></center>
              </div>
            </div>

        </div>
        </div>
      </div>
    </div>

</template>
