<template name="accessDenied">
  <div class="access-denied page jumbotron texto_centrado">
    <h2>Acceso Denegado</h2>
    <p class="texto_centrado">Tu no puedes estar aquí! Por favor inicia sesión.</p>
  </div>
</template>
