<template name="home"><br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="container">
            <h2>Bienvenid@</h2>
            <p style="text-align: justify;">Esta aplicación te permitirá buscar información acerca de un investigador de la comunidad científica de Google Scholar. Sólo debes iniciar sesión para utilizar esta aplicación.</p>
            {{#if currentUser}}
              <p><a href="{{pathFor 'buscador'}}"><input class="btn exportar" type="submit" value="Ir a Aplicación"></a></p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
