<template name="sidebar">
  <div class="col-md-3" id="sidebar"> <!--Sidebar (Vertical)-->
    <br><br><br>
    <div class="input-group buscador">
      {{> buscador_GS}}
    </div>
    <div id="main-menu" class="list-group">
      <a href="#sub-menu" class="list-group-item active" data-toggle="collapse" data-parent="#main-menu">Publicaciones <span class="caret"></span></a>
      <div class="collapse list-group-level1" id="sub-menu">
        <a href="#tree" class="list-group-item" data-parent="#sub-menu">Publicaciones del autor</a>
        <!-- <a href="#barras" class="list-group-item" data-parent="#sub-menu">Publicaciones por citas</a> -->
        <a href="#barras" class="list-group-item" data-parent="#sub-menu">Citas por año</a>
        <a href="#barras" class="list-group-item" data-parent="#sub-menu">Publicaciones por año</a>
      </div>
      <a href="#sub-menu2" class="list-group-item" data-toggle="collapse" data-parent="#main-menu">Colaboradores <span class="caret"></span></a>
      <div class="collapse list-group-level2" id="sub-menu2">
        <a href="#colaboradores" class="list-group-item" data-parent="#sub-menu2">Red de Colaboradores</a>
        <a href="#colaboradores" class="list-group-item" data-parent="#sub-menu2">Lista de Colaboradores</a>
      </div>
    </div>

  </div>
</template>
